%section
.item_details
  %h2.item_details__name
    = @item.name
  .item_details__main-content
    .item_details__main-content__box
      .main_photo
        .photos
          = image_tag "#{@item.images[0].image_url}", class: "photos"
          -if @item.item_state_id == 4
            .show-soldout
            .show-soldout__text
              売却済
        .small_photos
          - @item.images.each do |image|
            = image_tag image.image_url.to_s, class: "small_photo"
      %table.item_detail_table
        %tbody
          %tr
            %th 出品者
            %td
              .user_name
                = link_to "", class: "name" do
                  = @username.nickname
          %tr
            %th 状態
            %td
              = @itemstate.state
          %tr
            %th カテゴリー
            %td
              //親要素だけの場合
              - @category_parents.each do |parent|
                - if @item.category_id == parent.id
                  = link_to '#' do
                    %i.fas.fa-chevron-right
                    = @bigcategory.name
                    %br
                //子要素までの場合
                - parent.children.each do |child|
                  - if @item.category_id == child.id
                    = link_to '#' do
                      %i.fas.fa-chevron-right
                      = @bigcategory.name
                      %br
                    = link_to '#' do
                      %i.fas.fa-chevron-right
                      = @category.name
                      %br
                  -# 孫要素のまでの場合
                  - child.children.each do |grandchildren|
                    - if @item.category_id == grandchildren.id
                      = link_to '#' do
                        %i.fas.fa-chevron-right
                        = @bigcategory.name
                      %br
                      = link_to '#' do
                        %i.fas.fa-chevron-right
                        = @category.name
                      %br
                      = link_to '#' do
                        %i.fas.fa-chevron-right
                        = @smallcategory.name
                      %br
          %tr
            %th 素材
            %td
              = @item.material
          %tr
            %th ブランド
            %td
              = @item.brand.brand_name
          %tr
            %th 出品日
            %td
              = @item.exhibit_day
    .item_price_box
      %span.item_price_box__value
        = "¥#{@item.initial_price.to_s(:delimited, delimiter: ',')}"
    .item-buy-btn
      -if user_signed_in?
        = link_to '編集画面に進む', edit_item_path(@item), class: "item_buy_btn"
        %span.item__details__span or
        = link_to '文章を作成する', new_post_path(@post), class: "item_post_btn"
        %span.item__details__span or
        = link_to '削除する', item_path(@item), class: "item_del_btn", method: :delete
      - else
        = link_to 'ログインしてください', new_user_session_path, class: 'item_buy_btn'
    .item_description_box
      .item_description_box__inner
        = @item.description

    -# いいねの実装
    .button-content
      .button-content__left
        .button-like
          %div{:id => "like-icon-item-#{@item.id.to_s}"}
            - if @item.liked_by(current_user).present?
              = link_to "いいねを取り消す", item_like_path(@item.id, @item.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text"
            - else
              = link_to "いいね", item_likes_path(@item), method: :POST, remote: true, class: "love hide-text"
          %div{:id => "like-text-item-#{@item.id.to_s}"}
            = render "like_text", { likes: @item.likes }
%section
.comment_content
  .comment_content__box
    -# コメント表示
    %ul
      %li.comment_content__box__list
        %h3.subtitle
          コメント一覧
      .comment__box__area
        = render partial: 'comments/index', locals: { comments: @comments }
    %hr/
    - if user_signed_in?
      .comment-crete
        %h3.text-left
          コメントを投稿する
        = render partial: 'comments/form', locals: { comment: @comment, item: @item }



    -# - if @comments
    -#   - @comments.each do |comment|
    -#     .message_content__box__list
    -#       .message_content__box__list__icon
    -#         = icon('fa', 'user')
    -#       .message_content__box__list__content
    -#         .message_content__box__list__content__name
    -#           = link_to comment.user.nickname "/users/#{comment.user_id}"
    -#         .message_content__box__list__content__message
    -#           = comment.text
    -#         .message_content__box__list__content__date
    -#           = comment.updated_at
      -# コメントを投稿する
    -# - if user_signed_in?
    -#   = form_for(@item, Comment.new, class: 'w-100') do |f|
    -#     = f.hidden_field :user_id, value: current_user.id
    -#     = f.hidden_field :item_id, value: @item.id
    -#     -# = f.text_field :comment, class: "form-control comment-input border-0", placeholder: "コメント ...", autocomplete: :off
    -#     = f.submit "コメントする", class: "comment-btn"
    -# - else
    -#   = link_to 'ログインしてください', new_user_session_path, class: 'item-buy-btn'
    -# %div{:id => "comment-post-#{@post.id.to_s}"}
    -#   = render 'comment_list', post: @post

-# 前のページ、次のページのリンク
.links-box
  .links-box__content
    .links-box__content__right
      - if @item.next.present?
        = link_to item_path(@item.next) do
          = @item.next.name
          >
    .links-box__content__left
      -if @item.previous.present?
        = link_to item_path(@item.previous) do
          <
          = @item.previous.name