.item-container
  .item-head
    %h2.item-head_header
      出品情報を入力
    .item-main
      = form_for(@item, url: step3_item_index_path, html: {method: :"post"}) do |f|
        .item-main__content
          .item-main__content-form-group
            .item-main__content-head
            = f.label :day_id do
              出品日
            %span.form-require
              必須
            = f.date_select :day_id, class: "item-main__content-textsize"
          .item-main__content-form-group
            .item-main__content-head
            = f.label :day_id do
              売却日
            %span.form-elective
              任意
            = f.date_select :day_id, class: "item-main__content-textsize"
          .item-main__content-form-group
            .item-main__content-head
            = f.label :price_id do
              初期価格
            %span.form-require
              必須
            = f.text_field :price_id, calss: "item-main__content-textsize"
          .item-main__content-form-group
            .item-main__content-head
            = f.label :price_id do
              初期価格
            %span.form-require
              必須
            = f.text_field :price_id, calss: "item-main__content-textsize"
          .item-main__content-form-group
            .item-main__content-head
            = f.label :measure_id do
              肩幅
            %span.form-elective
              任意
            = f.text_field :measure, class: "item-main__content-textsize"
          .item-main__content-form-group
            .item-main__content-head
            = f.label :measure_id do
              袖丈
            %span.form-elective
              任意
            = f.text_field :measure, class: "item-main__content-textsize"
          .item-main__content-form-group
            .item-main__content-head
            = f.label :measure_id do
              着丈
            %span.form-elective
              任意
            = f.text_field :measure_id, class: "item-main__content-textsize"
          .item-main__content-form-group
            .item-main__content-head
            = f.label :measure_id do
              身幅
            %span.form-elective
              任意
            = f.text_field :measure, class: "item-main__content-textsize"
          .item-main__content-form-group
            .item-main__content-head
            = f.label :measure_id do
              ウェスト
            %span.form-elective
              任意
            = f.text_field :measure, class: "item-main__content-textsize"
          .item-main__content-form-group
            .item-main__content-head
            = f.label :measure_id do
              総丈
            %span.form-elective
              任意
            = f.text_field :measure, class: "item-main__content-textsize"
          .item-main__content-form-group
            .item-main__content-head
            = f.label :measure_id do
              股下
            %span.form-elective
              任意
            = f.text_field :measure, class: "item-main__content-textsize"
          .btn-box
            = f.submit "次へ進む", class:'btn-box__red'
            = link_to root_path, class: 'btn-box__gray' do
              戻る
