-# 月次、日次、週次、年間売り上げに必要な項目
-# 日次：それぞれの売れた商品、それぞれの売れた金額
-# 週次：それぞれの商品、それぞれの売れた金額、売れた日にち
-# 月次：それぞれの商品、それぞれの売れた金額、売れた日にち
-# 年次：それぞれの商品、それぞれの売れた金額、売れた日にち

-# 日次：それぞれの出品した商品、それぞれの出品した金額、それぞれの出品した日にち
-# それぞれの出品した商品、それぞれの出品した金額、それぞれの出品した日にち
-# それぞれの出品した商品、それぞれの出品した金額、それぞれの出品した日にち
-# それぞれの出品した商品、それぞれの出品した金額、それぞれの出品した日にち
-# を表示する

-# その上にグラフを表示する
%h2
  = @year_month
  月の売り上げの確認
%h3
  グラフで表示
%h3
  売り上げの確認
%table
- @price_months.each do |price_month|
  %tr
    %th 売れた商品
    %td
    = price_month.name
    %th 売れた金額
    %td
    = price_month.initial_price
    %th 売れた日にち
    %td
    = price_month.exhibit_day
  
%h3
  出品数の確認
%table
- @item_months.each do |item_month|
  %tr
    %th 売れた商品
    %td
    = item_month.name
    %th 売れた金額
    %td
    = item_month.initial_price
    %th 売れた日にち
    %td
    = item_month.exhibit_day