-# コメント内容2件まで
= comments.count
%p.comment-count 件のコメント
%h6.more{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample", "data-toggle" => "collapse"}
  もっと見る....
- comments.first(2).each do |comment|
  - unless comment.id.nil?
    %li.comment-container
      .comment-box
        .comment-text
          %p.comment-text__name
            = link_to "#{comment.user.nickname}"
          .comment-text__entry
            = comment.comment
            - if comment.user == current_user
              = link_to item_comment_path(comment.item_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do
                %i.fas.fa-trash{:style => "color: black;"}
          %span.comment-date.pull-right
          = comment.created_at.strftime('%Y/%m/%d %H:%M:%S')
    /コメント内容(3件目以降) ----------------------------------------------------------------
    #collapseExample.collapse
      - comments.offset(2).each do |comment|
        - unless comment.id.nil?
          %li.comment-container
            .comment-box
              .comment-text
                %p.comment-text__name
                  = link_to "#{comment.user.nickname}"
                  = comment.comment
                  - if comment.user == current_user
                    = link_to item_comment_path(comment.item_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do
                      %i.fas.fa-trash{:style => "color: black;"}
                  %br
                  %span.comment-span
                    = comment.created_at.strftime('%Y/%m/%d %H:%M:%S')